body,
div,
details,
ul,
li,
a,
table,
thead,
tbody th,
tr,
td {
  margin: 0;
  padding: 0;
}
body {
  font-family: Cambria, 'Times New Roman', 'Nimbus Roman No9 L', 'Freeserif', Times, serif;
  font-size: 16px;
}
body #wrapper {
  width: 960px;
}
body #wrapper .tab-strip {
  display: inline-block;
  position: relative;
  list-style-type: none;
  width: 340px;
  height: 230px;
  border: 1px solid black;
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 5px;
}
body #wrapper .tab-strip > li {
  display: inline-block;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px 15px;
  border-radius: 5px;
  background: #ededed;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ededed 0%, #ababab 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(100%, #ababab));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ededed 0%, #ababab 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ededed 0%, #ababab 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ededed 0%, #ababab 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ededed 0%, #ababab 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ababab', GradientType=0);
  /* IE6-9 */
}
body #wrapper .tab-strip > li.current {
  border-bottom: none;
  background: none;
  border-radius: 0;
}
body #wrapper .tab-strip > li.current .tab-btn {
  font-weight: bold;
}
body #wrapper .tab-strip > li.current .tab-content {
  display: block;
  margin-top: 15px;
  margin-left: 0;
}
body #wrapper .tab-strip > li:hover {
  background-color: #eeeeee;
}
body #wrapper .tab-strip > li:last-of-type {
  border-right: none;
}
body #wrapper .tab-strip > li .tab-btn {
  color: #000;
  font-size: 1.4em;
  text-decoration: none;
}
body #wrapper .tab-strip > li .tab-content {
  display: none;
  position: absolute;
  top: 20px;
  left: 15px;
  width: 330px;
  height: 80%;
  border-top: none;
  padding: 5px;
  padding-top: 15px;
}
body #wrapper .tab-strip > li .tab-content ul {
  list-style-type: disc;
}
body #wrapper .tab-strip > li .tab-content ul li ul {
  margin-left: 25px;
  list-style-type: lower-alpha;
}
body #wrapper .tab-strip > li .tab-content table {
  border-collapse: collapse;
}
body #wrapper .tab-strip > li .tab-content table th {
  background: #ababab;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ababab 0%, #eeeeee 75%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ababab), color-stop(75%, #eeeeee));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ababab 0%, #eeeeee 75%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ababab 0%, #eeeeee 75%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ababab 0%, #eeeeee 75%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ababab 0%, #eeeeee 75%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ababab', endColorstr='#eeeeee', GradientType=0);
  /* IE6-9 */
  padding: 5px 15px;
  border: 1px solid black;
}
body #wrapper .tab-strip > li .tab-content table td {
  padding: 5px 5px;
  border: 1px solid black;
  background: #eeeeee;
  text-align: left;
}
